<main class="body">
    <form>
      <div class="title">
            <h2>Accedi</h2>
      </div>
      <div class="half">
        <div class="element">
            <label for="name">nome</label>
            <input type="text" placeholder="" id="name" name="name">
            <small class="alert">Nome non valido</small>
        </div>
        <div class="element">
            <label for="password">password</label>
            <input  type="password" placeholder="" id="password" name="password">
            <small class="alert">Password non valido</small>
        </div>
        <div class="action">
            <button>Accedi</button>
        </div>
      </div>
      <div class="full">
            <p><a routerLink="">Hai dimenticato la password?</a></p>
            <hr>
            <p>Entra nel mondo di LabTv: Film sempre nuovi, le Serie TV e gli Show più attesi!</p>
            <div class="action">
                <a routerLink="/register"><button type="button">Registati ora</button></a>
            </div>            
     </div>
    </form>

</main>