<main class="body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="title">
            <h2>Accedi</h2>
      </div>
      <div class="half">
        <div class="element">
            <label for="email">email</label>
            <input type="text" placeholder="" id="email" name="email" formControlName="email">
            <small class="alert"  *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')">Email non valido</small>
        </div>
        <div class="element">
            <label for="password">password</label>
            <input  type="password" placeholder="" id="password" name="password" formControlName="password">
            <small class="alert" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">Password non valido</small>
        </div>
        <div class="action">
            <button type="submit" [disabled]="!loginForm.valid">Accedi</button>
        </div>
      </div>
      <div class="full">
            <a routerLink="">Hai dimenticato la password?</a>
            <hr>
            <p>Entra nel mondo di LabTv: Film sempre nuovi, le Serie TV e gli Show più attesi!</p>
            <div class="action">
                <a routerLink="/register"><button type="button">Registati ora</button></a>
            </div>            
     </div>
    </form>

</main>