<!-- <header>
    <nav class="navbar">
      <a href="" class="navbar-logo">
        <img src="assets/images/logo.png" alt="" />
      </a>

      <ul class="navbar-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/movies">Movies</a></li>
        <li><a routerLink="/tv-shows">TV Shows</a></li>
        <li><a routerLink="/log-in">Log in</a></li>
        <li><a routerLink="/contact">Contatti</a></li>

      </ul>
    </nav>
</header>
   -->
<header>
  <nav class="navbar">
      <input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
      <label for="navbar-checkbox" class="navbar-toggle">
        <span class="app-icon" id="menu">menu</span>
        <span class="app-icon" id="close">close</span>
      </label>
      <ul class="navbar-menu">
        <li>
          <div class="navbar-logo">
            <img src="../../../assets/images/logo-tipo.png" alt="">
          </div>
        </li>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/movies">Film</a></li>
        <li><a routerLink="/tv-shows">Serie Tv</a></li>
        <li><a routerLink="/log-in">Log in</a></li>
        <li><a routerLink="/contact">Contatti</a></li>
      </ul>
  </nav>
</header>
    
