<header>
    <nav class="navbar">
        <a href="" class="navbar-logo">
            <img src="../../../assets/images/logo-tipo.png" alt="" />
        </a>
        <ul class="navbar-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/movies">Film</a></li>
            <li><a routerLink="/tvshows">Serie TV</a></li>
            <li><a routerLink="/genres">Genere</a></li>
            <li><a routerLink="/">Log-in/Registrati</a></li>
            <li><a routerLink="/">Contatti</a></li>
        </ul>
    </nav>
</header>