<main class="body">
    <form>
      <div class="title">
            <h2>Registrati</h2>
      </div>
      <div class="half">
        <div class="element">
            <label for="firstName">nome</label>
            <input type="text" placeholder="" id="firstName" name="firstName">
            <small class="alert">Nome non valido</small>
        </div>
        <div class="element">
            <label for="lastName">cognome</label>
            <input type="text" placeholder="" id="lastName" name="lastName">
            <small class="alert">Nome non valido</small>
        </div>
        <div class="element">
            <label for="password">password</label>
            <input  type="password" placeholder="" id="password" name="password">
            <small class="alert">Password non valido</small>
        </div>
        <div class="element">
            <label for="confirmPassword">conferma password</label>
            <input  type="password" placeholder="" id="confirmPassword" name="confirmPassword">
            <small class="alert">Password non valido</small>
        </div>
        <div class="element">
            <input type="checkbox" name="" id=""><a><p>Accettto i Termini & Condizioni d'uso.</p></a>
        </div>
      </div>
      <div class="full">
        <div class="action">
            <button>Accedi</button>
        </div>        
     </div>
    </form>
</main>