<ng-container *ngIf="movie">
    <app-slider [items]="[movie]" [Banner]="true"></app-slider>

    <p-tabView>
        <p-tabPanel header="Scheda">
            <div class="grid">
                <div class="col-12 md:col-3 lg:col-3">
                    <img class="poster" [src]="imagesSizes.medium + movie.poster_path" [alt]="movie.title">
                </div>
                <div class="col-9 md:col-9 lg:col-">
                    <h2>{{movie.title}}</h2>
                    <p class="overview">{{movie.overview}}</p>

                    <div class="stat">
                        <div class="label">Data di Uscita:</div>
                        <div class="value">
                            {{movie.release_date | date: 'dd.MM.yyyy'}}
                        </div>
                    </div>
                    <div class="stat">
                        <div class="label">Titolo originale:</div>
                        <div class="value">
                            {{movie.original_title}}
                        </div>
                    </div>
                    <div class="stat">
                        <div class="label">Lingua originale:</div>
                        <div class="value">
                            {{movie.original_language | uppercase}}
                        </div>                 
                    </div>
                    <div class="stat">
                        <div class="label">Durata:</div>
                        <div class="value">
                            {{movie.runtime}} min
                        </div>
                    </div>
                    <div class="stat">
                        <div class="label">Genere:</div>
                        <div class="value">
                          <span *ngFor="let genre of movie.genres">
                              {{genre.name}}
                          </span>
                        </div>
                    </div>
                    <div class="btnWrapper">
                        <button pButton type="button" class="p-button-raised p-button-rounded"><span class="app-icon"> play_arrow </span></button>
                        <button pButton type="button" class="p-button-raised p-button-rounded"><span class="app-icon"> playlist_add </span></button>
                    </div>




                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Trailer">
            <div class="grid">

            <ng-container *ngFor="let movieVideo of movieVideos">
                <div class="col-6 col-offset-3"> <app-video-embed [key]="movieVideo.key" [site]="movieVideo.site"></app-video-embed></div>
            </ng-container>
                
          
        </div>
        </p-tabPanel>
        <p-tabPanel header="Foto">
            <div class="grid">
                <ng-container *ngFor="let movieImage of movieImages?.backdrops">
                    <div class="col-12 md:col-4 lg:col-4">
                    <p-image [src]="imagesSizes.large + movieImage.file_path" 
                    alt="Image"
                    width="100%"
                     [preview]="true"
                    ></p-image>
                    </div>
                </ng-container>
            </div>
        </p-tabPanel>
    </p-tabView>
    <p-carousel *ngIf="movieCredits" [value]="movieCredits.cast" [numVisible]="5" >
        <ng-template let-actor pTemplate="item" >
                <div class="actor">
                    <img  *ngIf="actor.profile_path" [src]="imagesSizes.medium + actor.profile_path" [alt]="actor.name">
                    <span>{{actor.name}}</span>
                </div>
        </ng-template>
    </p-carousel>
    <app-items-banner [items]="similarMovies" title="Similar Movies"></app-items-banner>

</ng-container>
